version: "3.9"
services:
  db:
    image: postgres:16
    container_name: pm_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pm_pgdata:/var/lib/postgresql/data

volumes:
  pm_pgdata:
